<select class="language" ng-model="parameters.language" class="pure-input-1-3 inline-block-important" required>
  <option value="ActionScript" selected="selected">ActionScript</option>
  <option value="C">C</option>
  <option value="C#">C#</option>
  <option value="C++">C++</option>
  <option value="Clojure">Clojure</option>
  <option value="CoffeeScript">CoffeeScript</option>
  <option value="Common Lisp">Common Lisp</option>
  <option value="CSS">CSS</option>
  <option value="Diff">Diff</option>
  <option value="Emacs Lisp">Emacs Lisp</option>
  <option value="Erlang">Erlang</option>
  <option value="Haskell">Haskell</option>
  <option value="HTML">HTML</option>
  <option value="Java">Java</option>
  <option value="JavaScript">JavaScript</option>
  <option value="Lua">Lua</option>
  <option value="Objective-C">Objective-C</option>
  <option value="Perl">Perl</option>
  <option value="PHP">PHP</option>
  <option value="Python">Python</option>
  <option value="Ruby">Ruby</option>
  <option value="Scala">Scala</option>
  <option value="Scheme">Scheme</option>
  <option value="Shell">Shell</option>
  <option value="SQL">SQL</option>
</select>                        
